<%- if controller_name != 'sessions' %>
  <p>会員登録済みの方は、<br/>下記よりサインインしてください。</p>
  <%= link_to "サインイン", new_session_path(resource_name), class: "btn btn-outline-primary mb-3 rounded-0 px-3" %><br />
<% end %>

<%- if devise_mapping.registerable? && controller_name != 'registrations' %>
  <p>会員登録がお済みでない方は、<br/>下記より新規会員登録をしてください。</p>
  <%= link_to "登録", new_registration_path(resource_name), class: "btn btn-outline-primary mb-3 rounded-0 px-3" %><br />
<% end %>

<%#- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
<!--  <p>パスワードを忘れた場合は、<br/>下記よりパスワードリセットをしてください。</p>-->
  <%#= link_to "リセット", new_password_path(resource_name), class: "btn btn-outline-warning mb-3 rounded-0 px-3" %><br />
<%# end %>

<%- if devise_mapping.confirmable? && controller_name != 'confirmations' %>
  <%= link_to "Didn't receive confirmation instructions?", new_confirmation_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.lockable? && resource_class.unlock_strategy_enabled?(:email) && controller_name != 'unlocks' %>
  <%= link_to "Didn't receive unlock instructions?", new_unlock_path(resource_name) %><br />
<% end %>

<%- if devise_mapping.omniauthable? %>
  <%- resource_class.omniauth_providers.each do |provider| %>
    <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), method: :post %><br />
  <% end %>
<% end %>
