<main>
  <h2 class="title">BOOKMARKS</h2>
  <div class="container">
    <div class="row my-5">
      <div class="col-12 col-md-8 offset-md-2">
        <h3><%= @user.nick_name %>さんのブックマーク一覧</h3>
        <table class="table">
          <tr>
            <th class="text-center header">カテゴリー</th>
            <th class="text-center header">投稿タイトル</th>
            <th class="text-center header">投稿日時</th>
          </tr>
          <% @favorite_list.each do |post| %>
            <tr>
              <td class="text-center"><%= post.category_i18n %></td>
              <td class="text-center"><%= post.name %></td>
              <td class="text-center"><%= l post.created_at %></td>
            </tr>
          <% end %>
        </table>
        <%= paginate @favorite_list %>
      </div>
    </div>
  </div>
</main>