<main>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <div class="mv-text">
        <h1 class="display-5">食パン部とは？</h1>
        <p class="lead">
          食パンの<br/>
          食パン好きによる<br/>
          食パン好きのための<br/>
          総合レビューサイトです
        </p>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <% if user_signed_in? %>
          <div class="justify-content-sm-center mx-auto">
            <div class="d-sm-flex">
              <div class="col">
                <%= link_to "食パン新規投稿", new_shop_path, class: "btn btn-outline-dark" %>
              </div>
              <div class="col">
                <%= link_to "食パン新規投稿", root_path, class: "btn btn-outline-dark" %>
              </div>
              <div class="col">
                <%= link_to "食パン新規投稿", root_path, class: "btn btn-outline-dark" %>
              </div>
            </div>
          </div>
        <% else %>
          <p>
            ※詳細表示には会員登録が必要です。<br/>
            ※レビュー投稿には会員登録が必要です。
          </p>
        <% end %>
      </div>
    </div>
    <div class="row my-5">
      <h3 class="col pl-3">新着！　食パン</h3>
      <div class="col-sm-12">
        <div class="d-flex flex-wrap">
          <% @shop.each.with_index(1) do |shop| %>
            <div id="slider_<%= shop.id %>" class="col col-sm-4 mb-5">
              <% shop.shop_images.each do |image| %>
                <%= link_to shop_path(shop.id) do %>
                  <%= attachment_image_tag image, :image, format: 'jpeg', size: "350x350", class: "d-block mx-auto content" %>
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <h3 class="col-sm-12 pl-3">新着！　トースト</h3>
      <div class="justify-content-sm-center mx-auto">
        <div class="d-sm-flex">
          <div class="col mb-3">
            <%= image_tag "content-test.jpg", width: "350", height: "350" %>
          </div>
          <div class="col mb-3">
            <%= image_tag "content-test.jpg", width: "350", height: "350" %>
          </div>
          <div class="col mb-3">
            <%= image_tag "content-test.jpg", width: "350", height: "350" %>
          </div>
        </div>
      </div>
    </div>
    <div class="row my-5">
      <h3 class="col-sm-12 pl-3">新着！　サンドウィッチ</h3>
      <div class="justify-content-sm-center mx-auto">
        <div class="d-sm-flex">
          <div class="col mb-3">
            <%= image_tag "content-test.jpg", width: "350", height: "350" %>
          </div>
          <div class="col mb-3">
            <%= image_tag "content-test.jpg", width: "350", height: "350" %>
          </div>
          <div class="col mb-3">
            <%= image_tag "content-test.jpg", width: "350", height: "350" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

<script>
  <% @shop.each do |shop| %>
    $(function() {
      $('#slider_<%= shop.id %>').slick({
        speed: 900,
        arrows: false,
        autoplay: true,
        autoplaySpeed: 6000,
      });
    });
  <% end %>
</script>