<nav class="navbar navbar-icon-top navbar-expand-sm navbar-light bg-white">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", alt: "食パン部", width: "187.5", height: "50" %>
  <% end %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="navbar-collapse collapse show" id="navbarHeader">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <%= link_to root_path, class: "nav-link" do %>
          <i class="fas fa-home"></i>
          HOME
        <% end %>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to shops_path, class: "nav-link" do %>
            <i class="fas fa-store-alt"></i>
            SHOPS
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to toasts_path, class: "nav-link" do %>
            <i class="fas fa-bread-slice"></i>
            TOASTS
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to sandwiches_path, class: "nav-link" do %>
            <i class="fas fa-hamburger"></i>
            SANDWICHES
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to about_path, class: "nav-link" do %>
            <i class="fas fa-info"></i>
            ABOUT
          <% end %>
        </li>
      <% end %>
      <li class="nav-item">
        <%= link_to new_contact_path, class: "nav-link" do %>
          <i class="fas fa-question"></i>
          CONTACT
        <% end %>
      </li>
    </ul>
    <ul class="navbar-nav ">
      <% if user_signed_in? %>
        <li class="nav-item">
          <%= link_to user_path(current_user.id), class: "nav-link" do %>
            <i class="fas fa-user"></i>
            MY PAGE
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "nav-link" do %>
            <i class="fas fa-sign-out-alt"></i>
            SIGN OUT
          <% end %>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to new_user_session_path, class: "nav-link" do %>
            <i class="fas fa-user"></i>
            SIGN IN
          <% end %>
        </li>
        <li class="nav-item">
          <%= link_to new_user_registration_path, class: "nav-link" do %>
            <i class="fas fa-user-plus"></i>
            SIGN UP
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>