<!DOCTYPE html>
<html>
  <head>
    <!--FontAwesome読み込み-->
    <script src="https://kit.fontawesome.com/a9e277fd5e.js" crossorigin="anonymous"></script>
    <title>Shokupanbu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <%= yield %>
    <%= render "layouts/footer" %>
  </body>
</html>
