<!DOCTYPE html>
<html>
  <head>
    <!--LineAwesome読み込み-->
    <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/font-awesome-line-awesome/css/all.min.css">
    <!--FontAwesome読み込み-->
    <!--<script src="https://kit.fontawesome.com/a9e277fd5e.js" crossorigin="anonymous"></script>-->

    <title>Shokupanbu</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <!--スライダー読み込み-->
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
    <header>
      <%= render "layouts/header" %>
      <% flash.each do |key, value| %>
        <%= content_tag(:div, value, class: "#{key}") %>
      <% end %>
    </header>
    <%= yield %>
    <% if user_signed_in? %>
      <%= link_to new_post_path, class: "new_post btn btn-info rounded-0 px-3 shadow" do %>
        <i class="fas fa-folder-plus fa-3x"></i><br />
        新規投稿
      <% end %>
    <% end %>
    <%= render "layouts/footer" %>
  </body>
</html>
